doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='https://apis.google.com/js/platform.js' async defer)
    meta(name='google-signin-client_id', content='672840972805-p5qund3ok5jl2jp5poo3s8c3vlkutup4.apps.googleusercontent.com')
    block content
